#vanguardHead, h1, #tournamentButtons, .printHidden{
	display: none;
}

#playerList {
	position: absolute;
	top: 0px;
	left: 0px;
}

.table, .table-row, .table-row-item, .table-header {
	border: 2px black solid;
	border-collapse: collapse;
}

.oddTable {
	border-width: 5px;
}