#vanguardHead, h1, #tournamentButtons, .print-hidden{
	display: none;
}

#playerList {
	position: absolute;
	top: 0px;
	left: 0px;
}

.tr, .th, .td {
	border-collapse: collapse;
}

.oddTable {
	border: 2px black solid;
}