body {
  background-color: #fcfcfc;
}

#playerList {
  text-transform: capitalize;
}

#vanguardApp {
  margin: 0 auto;
  margin-top: 5%;
  width: 80%;
}

#tournamentTitle {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  text-align: center;
}

#vanguardHead {
  margin: 0 auto;
  width: 80%;
}

#newPlayerName {
  width: 10%;
}

#tournamentInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 5%;
}

.oddTable {
	background-color: #bbbbbb;
}

#tournamentButtons {
	position: fixed;
	bottom: 0%;
	padding: 10px;
	background-color:white;
	width: 100%;
}

#roundDisplay {
  text-align: center;
}

#addPlayerSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
}

.tournamentButtons-placeholder {
	visibility: hidden;
	padding: 10px;
	background-color:white;
}

.hidden {
	display: none;
}


/* table stuff */

.table {
  display: flex;
  flex-flow: column nowrap;
  line-height: 1.5;
  border: 0px;
  flex: 1 1 auto;
}

.th {
  display: none;
  font-weight: 700;
}

.th > .td {
  white-space: normal;
  justify-content: center;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  word-break: break-word;
  padding: 0.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border: 0px;
  justify-content: center;
  align-items: center;
}